TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+61

ELEVENLABS_API_KEY=sk_5
ELEVENLABS_VOICE_ID=snyKKuaGYk1VUEh42zbW

BASE_URL=https://pluckiest-trimorphous-ivana.ngrok-free. dev

HUMAN_AGENT_NUMBER=+880

COMMON_MESSAGE_TEXT="This is an automated call from Vetpay. It looks like we may have the wrong payment details for you. If you’d like to update them and speak to our team now, say transfer me or press 1. Alternatively you can update your details on your portal at vetpay.com.au. We hope we've been able to assist with your pets treatment. Thank you. Would you like to transfer?"


This is VetPay calling about a recent payment that have failed. To receive a secure payment link by SMS, press 1. To speak with a member of our team, press 2. If now isn’t a good time, you can also update your payment details anytime at portal.vetpay.com.au. Thank you."